@page
@using Wallone.Auth.Web.Pages
@model LoginModel

<div class="auth-content">
    <div class="auth-content__left">
        <div class="auth-container__img">
            <img src="./img/auth-img.jfif" />
        </div>
    </div>

    <div class="auth-content__right">
        <div class="auth-form">
            <div class="auth-form-header">
                <a class="form-link active">Вход</a>
                <a class="form-link" asp-page="/Register" asp-route-returnURl="@Model.ReturnUrl">Регистрация</a>
            </div>
            <form method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="command.Email"/>
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <input type="password" name="command.Password" />
                </div>
                <div class="errors-summary">
                    @if (@Model.ErrorMessages.Any())
                    {
                        <div class="errors-summary">
                            @foreach (var error in @Model.ErrorMessages)
                            {
                                <div>@error</div>
                            }
                        </div>
                    }
                </div>
                <div class="form-actions">
                    <button class="auth-btn" type="submit">Войти</button>
                    <a class="reset-password-link">Забыли пароль?</a>
                </div>
            </form>
        </div>
    </div>
</div>